:root {
    font-family: 'Montserrat', sans-serif;
    --ac-primary: #c7b299;
    --transition-speed: 200ms ease-out;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

main {
    margin-top: 89px;
}

@media only screen and (max-width: 1000px) {
    main {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 460px) {
    main {
        margin-top: 115px;
    }
}

/* NavBar */

nav header {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}
  
nav .logo {
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 600px) {
    nav .logo h1 {
        font-size: 20px;
    }
    nav header {
        padding: 30px 40px 30px 50px;
    } 
}
  
.nav__links {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}
  
.nav__links a, .cta, .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: var(--transition-speed);
}
  
.nav__links li a:hover {
    color: var(--ac-primary);
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #111111;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition-speed);
    text-transform: uppercase;
}
  
.cta:hover {
    background-color: var(--ac-primary);
    color: black;
}
  
  /* Mobile Nav */
  
nav .menu {
    display: none;
}
  
nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: var(--transition-speed);
}
  
nav .overlay--active {
    width: 100%;
}
  
nav .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
  
nav .overlay a {
    padding: 15px;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    transition: var(--transition-speed);
}
  
nav .overlay a:hover, .overlay a:focus {
    color: var(--ac-primary);
}

nav .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    nav .overlay a {
      font-size: 20px;
    }
    nav .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
  
@media only screen and (max-width: 1000px) {
    .nav__links,
    .cta {
      display: none;
    }
    nav .menu {
      display: initial;
    }
}

/* Hero */

.showcase {
    right: 0;
    width: 100%;
    min-height: 80vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #fff;
    transition: 0.5s;
}

.showcase .text {
    position: relative;
}

.showcase .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text p {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.showcase .text a {
    display: inline-block;
    font-size: 1rem;
    background: transparent;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    border: solid white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showcase .text a:hover {
    letter-spacing: 6px;
}


@media (max-width: 600px) {
    .showcase {
        padding-left: 50px;
    }
    .showcase .text h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .showcase .text h3 {
        font-size: 1.5em;
    }

    .showcase .text p {
        font-size: 1em;
    }

    .showcase .text a {
        font-size: 0.8em;
    }
}

@media (hover:none) {
    .showcase .text a:hover {
        letter-spacing: normal;
    }
}

/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background: white;
}
  
.grid-container .card {
    background-color: #f2f2f2;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
  
.grid-container .card-image {
    width: 100%;
    height: auto;
}
  
.grid-container .card-content {
    margin-top: 10px;
    padding: 10%;
    text-align: center;
}

.grid-container .card:nth-child(5) .card-content {
    padding-top: 15%;
}
  
.grid-container .card-title {
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
  
.grid-container .card-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}
  
.grid-container .card-link {
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    transition: var(--transition-speed);
    background-color: transparent;
    color: white;
    border-radius: 3px;
    border: solid white;
}

.grid-container .card:nth-child(1) {
    grid-column: 1;
    color: white;
    background-image: url(../img/landing-images/laboratorio.jpg);
}

.grid-container .card:nth-child(2) {
    grid-column: 2;
    background-image: url(../img/landing-images/installazione.jpg);
}

.grid-container .card:nth-child(3) {
    grid-column: 1;
    background-image: url(../img/landing-images/progettazione.jpg);
}

.grid-container .card:nth-child(4) {
    grid-column: 2;
    color: white;
    background-image: url(../img/landing-images/consulenza.jpg);
}

.grid-container .card:nth-child(5) {
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
    color: white;
    background-image: url(../img/landing-images/waves.jpg);
}

.grid-container .card:nth-child(1) .card-link {
    color: white;
    border-color: white;
}

.grid-container .card:nth-child(2) .card-link {
    color: black;
    border-color: black;
}

.grid-container .card:nth-child(3) .card-link {
    color: black;
    border-color: black;
}

@media screen and (max-width: 1500px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container .card:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 3;
    color: white;
    }
    .grid-container .card:nth-child(5) .card-content {
    padding-top: 10%;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container .card:nth-child(1) {
        grid-column: 1;
    }
    .grid-container .card:nth-child(2) {
        grid-column: 1;
        order: +1;
    }
    .grid-container .card:nth-child(3) {
        grid-column: 1;
    }
    .grid-container .card:nth-child(4) {
        grid-column: 1;
    }
    .grid-container .card:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }
} 

/* Footer */

.footer .container {
	margin: auto;
    max-width: 1200px;
    padding: 0 20px 0 20px;
}

.footer .row {
	display: flex;
    flex-wrap: wrap;
}

.footer ul {
	list-style: none;
}

.footer {
	background-color: black;
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--ac-primary);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: var(--transition-speed);
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	transition: var(--transition-speed);
}

.footer-col .social-links a img {
    width: 40px;
    vertical-align: bottom;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    }
}

/* Pagina Scopri */

.discover {
    background-color: #111111;
    grid-template-columns: repeat(1, 1fr);
}

.discover .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.discover .card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.discover .card:nth-child(3) {
    grid-column: 1;
    grid-row: 4;
}

.discover .card:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

.discover .card:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
}

.discover .card:nth-child(1) .card-content {
    text-align: left;
}

.discover .card:nth-child(2) .card-content {
    text-align: right;
}

.discover .card:nth-child(3) .card-content {
    text-align: right;
}

.discover .card:nth-child(4) .card-content {
    text-align: left;
}

.discover .card:nth-child(5) .card-content {
    padding-top: 10%;
    text-align: left;
}

.discover .card-title {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
}

.discover .card-subtitle {
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 20px 0;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .discover .card-title {
        font-size: 4rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .discover .card-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .discover .card-subtitle {
        font-size: 1rem;
        hyphens: auto;
    }
    .discover .card:nth-child(2) .card-content {
        text-align: left;
    }
    
    .discover .card:nth-child(3) .card-content {
        text-align: left;
    }
}

/* Pagina Chi Siamo */

.chisiamo {
    min-height: 70vh;
    justify-content: center;
    text-align: center;
}

.chisiamo .text h2 {
    margin-bottom: 10px;
}

.chisiamo .text h3 {
    font-size: 3em;
}

.chisiamo .text p {
    max-width: 800px;
    margin: 20px auto;
    hyphens: auto;
}

@media (max-width: 600px) {
    .chisiamo {
        text-align: left;
    }
    .chisiamo .text h3 {
        font-size: 1.5em;
    }
}