:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* variables */

:root {
    --bg-primary: #000;
    --bg-secondary: #222;
    --ac-primary: yellow;
    --ac-secondary: #fff;
    --transition-speed: 400ms ease-out;
}

/* General */

body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

.navbar ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}